*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/
.cursorrules

/shared/core-common/build.gradle.kts
/shared/core-navigation/build.gradle.kts
/shared/core-database/build.gradle.kts
/shared/feature-notes/build.gradle.kts
/shared/localization/build.gradle.kts